$color__verde:#137333;
$color__verde__alt:#34a252;
$color__morado:#4c0a91;
$color__morado__alt:#731eaf;
$color__naranja: #ff6600;
$color__naranja__h: #e05e08;
$color__naranja__alt:#ff9900;
$color__gris__claro:#ebf0f5;
$color__gris__oscuro:#494e58;
$color__amarillo:#d69400;
$color__amarillo__alt:#e8ab00;
$color__azul:#232f3e;
$color__azul__alt:#225bc6;
$color__blanco:rgb(255, 255, 255);
$color__negro:rgb(43, 43, 43);
$color__rosa:#9e0048;;
$color__rosa__alt:#cc1250;
$color__aniversario__naranja:#FF5E15;
$color__aniversario__rosa:#FF3153;
$gradient__naranja__linear: linear-gradient(90deg, $color__naranja 0%, $color__naranja__alt 100%);
$gradient__naranja__centro:linear-gradient(90deg, $color__naranja 0%, $color__naranja__alt 50%, $color__naranja 100%);
