@mixin titulo-tamano {
    font-family: $tipo__titulos;
    font-weight:900;
    text-align: center;
}
@mixin parrafo ($font, $size, $grosor, $color) {
  font-family:$font;
  font-size:$size;
  font-weight:$grosor;
  color:$color;
}
@mixin flex ($flex, $dir, $wrap, $just, $align) {
    display: $flex;
    flex-flow: $dir $wrap;
    justify-content: $just;
    @if $wrap == 'nowrap' {
        align-items: $align;
    }@else{
        align-content: $align;
    }
}
@mixin gradiente($type, $color1, $color2) {
  @if $type == 'radial-gradient' {
    background: radial-gradient(circle, $color1 0%, $color2 100%);
  } @else {
    background: linear-gradient(90deg, $color1 0%, $color2 100%);
  }
}

@mixin media($medida: 480px) {
    @media screen and (max-width: $medida) {
        @content;
    }
}
@mixin mediadelante($medida: 768px) {
    @media screen and (min-width: $medida) {
        @content;
    }
}
