/*
**************************************************
––––––––––––––––––––––––––––––––––––––––––––––––––
Imports
––––––––––––––––––––––––––––––––––––––––––––––––––
**************************************************
*/
//@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;0,800;1,400;1,800&family=Rubik:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,900;1,300;1,400;1,900&display=swap');
@import"reset.scss";
@import"colors.scss";
@import"mixins.scss";
/*
**************************************************
––––––––––––––––––––––––––––––––––––––––––––––––––
Fuentes
––––––––––––––––––––––––––––––––––––––––––––––––––
**************************************************
*/
$tipo__titulos: 'Lato', sans-serif;
$tipo__textos: 'Lato', sans-serif;
body{
  font-family: $tipo__textos;
  font-size: clamp(1.15rem, 1vw, 1em);
}
em{
  font-style: italic;
}
a{
  text-decoration: underline;
  transition: all 0.5s ease;
}
strong{
  font-weight: 700;
}
p{
  line-height: clamp(1.7rem, 1.7vw, 1.9rem);
  font-family: $tipo__textos;
}
.text-center{
  text-align: center;
}

/*
**************************************************
––––––––––––––––––––––––––––––––––––––––––––––––––
Hero
––––––––––––––––––––––––––––––––––––––––––––––––––
**************************************************
*/

.hero{
  @include flex(flex, row, wrap, center, space-evenly);
  min-height: 35vh;
  background-image: url("../img/circulos-fondo.webp"), url("../img/notas-musicales.webp"),linear-gradient(90deg, $color__aniversario__naranja 0%, $color__aniversario__rosa 50%, $color__aniversario__naranja 100%);
  background-position: center center, center center, center center;
  background-repeat: no-repeat, no-repeat, no-repeat;
  &__h2{
    @include titulo-tamano();
    color: $color__blanco;
    font-size: clamp(2.5rem, 2vw, 3rem);
  }
  &__h3{
    @include parrafo($tipo__textos,clamp(1.5rem,1vw,2rem), 400, $color__blanco);
    text-align: center;
  }
}

/*
**************************************************
––––––––––––––––––––––––––––––––––––––––––––––––––
Que son
––––––––––––––––––––––––––––––––––––––––––––––––––
**************************************************
*/
.queson{
  margin-top: 2rem;
  &__texto{
    @include flex(flex, row, wrap, center, space-evenly);
    background-color: $color__gris__claro;
    background-image: url("../img/medio-circulo-gris.webp");
    background-size: auto 100%;
    background-repeat: no-repeat;
    h2{
      font-weight: 900;
      text-align: center;
    }
    p{
      margin-bottom: 0;
      padding:0 2rem;
    }
    .lead{
      @include parrafo($tipo__titulos,clamp(1.5rem,1vw,2rem), 900, $color__negro);

    }
  }
   &__imagen{
    background-image: url("../img/fondo-grammys.webp") ;
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 35vh;
   }
}

/*
**************************************************
––––––––––––––––––––––––––––––––––––––––––––––––––
Donde son
––––––––––––––––––––––––––––––––––––––––––––––––––
**************************************************
*/
.donde{
  margin-top: 2rem;
  &__texto{
    @include flex(flex, row, wrap, center, space-evenly);
    h2{
      font-weight: 900;
      text-align: center;
    }
    p{
      margin-bottom: 0;
    }
    .lead{
      @include parrafo($tipo__titulos,clamp(1.5rem,1vw,2rem), 900, $color__negro);

    }
  }
  &__imagen{
    &__bloque{
      min-height: 100%;
      min-width: 100%;
      position: relative;
      top: 0;
      right: 0;
      background: $gradient__naranja__linear;
      border-radius: 20rem 0 0 20rem;
    }
  }
}
/*
**************************************************
––––––––––––––––––––––––––––––––––––––––––––––––––
Porque
––––––––––––––––––––––––––––––––––––––––––––––––––
**************************************************
*/
.porque{
  margin-top: 2rem;
  background-color: $color__gris__claro;
  &__texto{
    min-height: 25vh;
    @include flex(flex, row, wrap, center, space-evenly);
    h2{
      font-weight: 900;
      text-align: center;
    }
    p{
      margin-bottom: 0;
    }
    .lead{
      @include parrafo($tipo__titulos,clamp(1.5rem,1vw,2rem), 900, $color__negro);

    }
  }
  &__imagen{
    &__bloque{
      min-height: 100%;
      min-width: 100%;
      position: relative;
      top: 0;
      right: 0;
      background: $gradient__naranja__linear;
      border-radius: 0 20rem 20rem 0;
      @include flex(flex, row, wrap, center, space-evenly);
      span{
        width: 100%;
        text-align: center;
        font-size: 4rem;
      }
      h2{
        @include parrafo($tipo__titulos,2rem,900,$color__blanco);

      }
    }
  }
}



/*
**************************************************
––––––––––––––––––––––––––––––––––––––––––––––––––
formulario
––––––––––––––––––––––––––––––––––––––––––––––––––
**************************************************
*/

.formulario{
  margin-top: 2rem;
  h2{
      @include parrafo($tipo__titulos,clamp(1.5rem,1vw,2rem), 900, $color__naranja);
      text-align: center;
  }
  &__form{
    width: 50%;
    margin:0 auto;
    input{
      border: 1px solid $color__gris__claro;
      width: 100%;
      margin-bottom: 1rem;
      padding: 0.25rem 0.75rem;
      border-radius: 5px;
    }
    button{
       @include gradiente (linear-gradient, $color__naranja, $color__naranja__alt);
       margin: 0 auto;
       color: $color__blanco;
       text-transform: uppercase;
       padding: 0.5rem 0;
       width: 100%;
       font-family: $tipo__titulos;
       border-radius: 5rem;
    }
  }
}

/*
**************************************************
––––––––––––––––––––––––––––––––––––––––––––––––––
Header
––––––––––––––––––––––––––––––––––––––––––––––––––
**************************************************
*/
.header{
/*   background: $gradient__naranja__linear; */
  &__navbar{
    @include flex(flex, row, wrap, center, center);
    width: 100%;
    max-height: 10rem;
    position: fixed;
    z-index: 5;
    border-radius:0;
    margin:0;
    //padding: 2em;
    top: 0;
    @include media(659px) {
      padding-top:0.1rem;
    }
    @include media(390px){
      @include flex(flex, row, wrap, center, center);
      min-height: 4em;
      padding: 0;

    }
    &__ul{
      @include flex(flex, row, wrap, center, center);
      li:first-child{
        margin-left: 0;
      }
      li{
        @include parrafo($tipo__titulos,clamp(0.8rem,1.25vw,2rem), 700, $color__blanco);
        text-transform: uppercase;
        //margin-left: 3em;
        padding: 0.5rem 0.9rem;
        transition: all 0.5s ease;
        cursor: pointer;
        &:hover{
          background-color:$color__morado;
        }
        @include media(370px){
          margin-left: 1rem;
        }
      }
    }
    &__logo{
      max-height: 5em;
      @include media(320px){
        display: none;
      }
      @include media(800px){
       max-height: 2.5em;
      }
      &:hover{
        transition: all 0.5s ease;
        opacity: 0.8;
      }
    }
  }

}
.header-down {
  background-color:$color__azul;
  transition: all 0.5s ease;
}
