/*
**************************************************
––––––––––––––––––––––––––––––––––––––––––––––––––
Imports
––––––––––––––––––––––––––––––––––––––––––––––––––
**************************************************
*/
/* @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,900;1,300;1,400;1,900&display=swap'); */
/* @import"linio.css"; */
@import"colors.scss";
@import"mixins.scss";
/*
**************************************************
––––––––––––––––––––––––––––––––––––––––––––––––––
Fuentes
––––––––––––––––––––––––––––––––––––––––––––––––––
**************************************************
*/

$tipo__titulos: Lato, sans-serif;
$tipo__textos: Lato, sans-serif;


/*
**************************************************
––––––––––––––––––––––––––––––––––––––––––––––––––
Hero
––––––––––––––––––––––––––––––––––––––––––––––––––
**************************************************
*/
 .hero-img{
  width: 100%;
  &__img{
    max-width: 100%;
    @include media (767px){
      display: none;
    }
  }
  &__img-movil{
    max-width: 100%;
    @include mediadelante(768){
      display: none;
    }
  }
}

/*
**************************************************
––––––––––––––––––––––––––––––––––––––––––––––––––
Tus compras
––––––––––––––––––––––––––––––––––––––––––––––––––
**************************************************
*/
.tuscompras{

  max-width: 100%;
  margin: 0.5rem auto;
  @include media (767px){
    margin: 0.5rem auto 1rem;
  }
  &__p{

    @include parrafo($tipo__textos,clamp(1.2rem,1.8vw,1.9rem), 400, $color__negro);
    line-height: clamp(1.2em, 1.5vw, 1.6rem);
    text-align: center;
  }
  width: 100%;
}

/*
**************************************************
––––––––––––––––––––––––––––––––––––––––––––––––––
Como ganar
––––––––––––––––––––––––––––––––––––––––––––––––––
**************************************************
*/
.comoganar{
  @include gradiente (linear-gradient, $color__aniversario__rosa, $color__aniversario__naranja);
  padding-top: 0.5rem;
  &__h2{
    @include titulo(clamp(1.2em, 3vw, 2.2rem));
    color: $color__blanco;
    margin: 0;
    line-height: clamp(1.1em, 1.2vw, 1.6rem);
  }
  @include media(991px){
    max-width: 90%;
    margin: 0 auto;
    &__slide::before{
      content: url(../img/arrows-left-right-solid.svg);
      position: absolute;
      top:0;
      right: 0.5rem;
      width: 2rem;
    }
  }
  &__slide{

    padding: 2rem 0;
    @include flex(flex, row, wrap, center, space-around);
    @include media(991px){
      @include flex(flex, row, nowrap, left, center);
      overflow-y: scroll;
      position: relative;
      padding: 0.5rem 0;
    }
    &__article{
      width: 20%;

      text-align: center;
       @include parrafo($tipo__titulos,clamp(1.1rem,1.2vw,1.3rem), 400, $color__blanco);
       line-height: clamp(1.3rem,1.5vw,1.7rem);
       @include media(991px){
         min-width: 100%;
       }
    }
    &__article:last-child{
      margin-right: 0;
    }
     &__icon{
      background-color: $color__blanco;
      height:9em;
      width: 9em;
      margin: 0 auto 1.5rem;
      @include media (991px){
        height: 7rem;
        width: 7rem;
        margin: 0 auto 0.5rem;
      }
      border-radius: 20rem;
      color: $color__negro;
      @include flex(flex, row, wrap, center, center);
      .mc{
        height: 7rem;
        @include media (991px){
          height: 5.5rem;
        }
      }
      &-img{
          height: 5rem;
          @include media (991px){
            height: 3rem;
           }

      }
    }
    &__foot{
      margin-top: 2rem;
      @include parrafo($tipo__titulos,clamp(1.5rem,1vw,2rem), 400, $color__blanco);
      text-align: center;
      @include media (991px){
        min-width: 100%;
        flex-grow: 3;
      }
    }
  }
  &__foot{
    @include parrafo($tipo__titulos,clamp(1rem,1.5vw,1.7rem), 400, $color__blanco);
    text-align: center;
    padding-bottom: 1rem;
    @include media(991px){
      margin-top: 0;
      padding-bottom: 0.5rem;
    }

  }
}

/*
**************************************************
––––––––––––––––––––––––––––––––––––––––––––––––––
donde
––––––––––––––––––––––––––––––––––––––––––––––––––
**************************************************
*/
.donde{
  max-width: 80%;
  margin: 1.5rem auto;
  @include media(991px){
    min-width: 100%;
     margin: 0.9rem auto;
  }
  &__p{
    @include parrafo($tipo__textos,clamp(1.2rem,1.8vw,1.9rem), 400, $color__negro);
    line-height: clamp(1.2em, 1.5vw, 1.6rem);
    text-align: center;
  }
  width: 100%;
  &__p:first-child{
    margin-bottom: 1rem;
  }
}
/*
**************************************************
––––––––––––––––––––––––––––––––––––––––––––––––––
Si ganas
––––––––––––––––––––––––––––––––––––––––––––––––––
**************************************************
*/
.siganas{
  width: 100%;
 /* margin: 2rem auto;*/
  background-color: $color__gris__claro;
  padding: 1rem 1.5rem;
  &__wrapper{
    max-width: 90%;
    margin: 0 auto;
  }
  &__sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  }
  &__h2{
    @include parrafo($tipo__textos,clamp(1.1em,1.5vw,1.7em), 900, $color__negro);
  line-height: clamp(1.2em, 1.5vw, 1.6rem);
  text-align: center;
    margin-bottom: 1rem;
    @include media(767px){
      margin-bottom: 0.5rem;
    }
  }
  &__lead{
    text-align: center;
    @include titulo(clamp(1.5rem, 1.7vw, 1.7rem));
    color: $color__negro;
  }
  &__ul{
    margin: 0;
    &-li{
      list-style: disc;
      @include parrafo($tipo__titulos,clamp(1.1rem,1.2vw,1.3rem), 400, $color__negro);
    }
    &-li::marker{
      color:$color__naranja;
      font-size: 1.5em;
    }
  }
  &__small{
    margin-top: 0.5rem;
    &-p{
      font-family: $tipo__textos;
      font-size: 0.8em;
      font-weight:300 ;
      margin: 0;
    }
  }
}


/*
**************************************************
––––––––––––––––––––––––––––––––––––––––––––––––––
participar
––––––––––––––––––––––––––––––––––––––––––––––––––
**************************************************
*/
.participar{
  max-width: 80%;
  margin: 1.5rem auto;
  @include media(991px){
    min-width: 100%;
     margin: 0.9rem auto;
  }
  svg {
    max-width: 2rem;
    display: inline-block
  }
  &__button{
    @include gradiente (linear-gradient, $color__aniversario__rosa, $color__aniversario__naranja);
    margin:0 auto;
    color: $color__blanco;
    text-transform: uppercase;
    padding: 0.5rem 0.5rem;
    font-size: 1rem;
    font-family: $tipo__titulos;
    border-radius: 5rem;
    display: block;
    border-style: none;
    }
  &__h3{
    @include parrafo($tipo__textos,clamp(1.1em,1.5vw,1.7em), 900, $color__negro);
    line-height: clamp(1.2em, 1.5vw, 1.6rem);
    text-align: center;
    width: 100%;
  }
  &__form{
    text-align: center;
    margin:0;
    &-p {
      @include parrafo($tipo__textos,clamp(1rem,1.1vw,1.2rem), 400, $color__negro);
      line-height: clamp(1.1em, 1.3vw, 1.4rem);
      text-align: center;
      width: 100%;
    }
    &-p:first-child{
      margin-bottom: 1rem;
    }
  }
}
/*
**************************************************
––––––––––––––––––––––––––––––––––––––––––––––––––
participando
––––––––––––––––––––––––––––––––––––––––––––––––––
**************************************************
*/
.participando{
  max-width: 80%;
  margin: 1.5rem auto;
  @include media(991px){
    min-width: 100%;
     margin: 0.9rem auto;
  }
  &__svg {
    max-width: 2rem;
    display: inline-block;
  }
  &__button{
    @include gradiente (linear-gradient, $color__aniversario__rosa, $color__aniversario__naranja);
    margin: 0 auto;
    color: $color__blanco;
    text-transform: uppercase;
    padding: 0.5rem 0.5rem;
    font-size: 1rem;
    font-family: $tipo__titulos;
    border-radius: 5rem;
    display: block;
    border-style: none;
    }
    &__h3{
      @include parrafo($tipo__textos,clamp(1.1em,1.5vw,1.7em), 900, $color__negro);
      line-height: clamp(1.2em, 1.5vw, 1.6rem);
      text-align: center;
      margin-bottom: 1rem;
    }
  width: 100%;
}

/*
**************************************************
––––––––––––––––––––––––––––––––––––––––––––––––––
ganador
––––––––––––––––––––––––––––––––––––––––––––––––––
**************************************************
*/
.ganador{
  max-width: 80%;
  margin: 1.5rem auto;
  @include media(991px){
    min-width: 100%;
     margin: 0.9rem auto;
  }
  &__p{
    @include parrafo($tipo__textos,clamp(1.1em,1.5vw,1.7em), 400, $color__negro);
    line-height: clamp(1.2em, 1.5vw, 1.6rem);
    text-align: center;
    width: 100%;
  }
  &__p:first-child{
    margin-bottom: 1rem;
  }
}

/*
**************************************************
––––––––––––––––––––––––––––––––––––––––––––––––––
FAQ
––––––––––––––––––––––––––––––––––––––––––––––––––
**************************************************
*/

.faq{

  article{
    margin-bottom: 1rem;
  }
  &__header-collapse{
    background-color: $color__gris__claro;;
    padding:0.5rem;
  }
  &__collapse-h3{
    @include parrafo($tipo__titulos,clamp(1.2rem,1.4vw,1.4rem), 900, $color__negro);
    font-style: italic;
    margin-bottom: 1rem;
  }
  &__collapse-body{
    padding:1rem 2rem;
    p{
      @include parrafo($tipo__titulos,clamp(1rem,1.2vw,1.2rem), 400, $color__negro);
      line-height: 1.4rem;
      margin-bottom: 0.8rem;
    }
  }
  &__h4{
     @include parrafo($tipo__titulos,clamp(1.2rem,1.4vw,1.4rem), 900, $color__negro);
     margin:1rem 0;
  }
  &__h3{
    &-a{
      @include parrafo($tipo__titulos,clamp(1.2rem,1.4vw,1.4rem), 900, $color__negro);
      padding-left: 1rem;
      text-decoration: none;
    }
  }
  &__button{
    @include parrafo($tipo__titulos,clamp(1.2rem,1.4vw,1.4rem), 400, $color__negro);
    @include gradiente (linear-gradient, $color__naranja, $color__naranja__alt);
    margin: 0 auto;
    color: $color__blanco;
    text-transform: uppercase;
    padding: 0.5rem 0.5rem;
    font-size: 1rem;
    font-family: $tipo__titulos;
    border-radius: 5rem;
    display: block;
    border-style: none;
  }
}
.ol{
  &__numeros{
    margin: 0;
    li{

      @include parrafo($tipo__titulos,clamp(1rem,1.2vw,1.2rem), 400, $color__negro);
      color:$color__negro;
      list-style: decimal;
      margin-bottom: 1rem;
    }
  }
  &__letras{
    margin: 0;
    li{
      @include parrafo($tipo__titulos,clamp(1rem,1.2vw,1.2rem), 400, $color__negro);
      color:$color__negro;
      list-style:lower-latin;
      margin-bottom:1rem;
      line-height: 1.4rem;
    }
    li::before{
      display: block;
    }
    p{
      @include parrafo($tipo__titulos,clamp(1rem,1.2vw,1.2rem), 400, $color__negro);
      line-height: 1.4rem;
      margin-bottom: 1rem;
    }
  }
  &__bullet{
    li{
      color:$color__negro;
      list-style: disc;
      margin-bottom:1rem;
    }
  }
}
