/*
**************************************************
––––––––––––––––––––––––––––––––––––––––––––––––––
Imports
––––––––––––––––––––––––––––––––––––––––––––––––––
**************************************************
*/
//@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;0,800;1,400;1,800&family=Rubik:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,900;1,300;1,400;1,900&display=swap');
@import"reset.scss";
@import"colors.scss";
@import"mixins.scss";
/*
**************************************************
––––––––––––––––––––––––––––––––––––––––––––––––––
Fuentes
––––––––––––––––––––––––––––––––––––––––––––––––––
**************************************************
*/
$espacio__secciones:2rem;
$tipo__titulos: 'Lato', sans-serif;
$tipo__textos: 'Lato', sans-serif;
body{
  font-family: $tipo__textos;
  font-size: clamp(1.5rem, 1vw, 1em);
}
em{
  font-style: italic;
}
a{
  text-decoration: underline;
  transition: all 0.5s ease;
}
strong{
  font-weight: 700;
}
p{
  /* line-height: clamp(1.6em, 1.7vw, 1.9rem); */
  font-family: $tipo__textos;
  font-size: clamp(1.05em, 1vw, 1em);
  margin-bottom: 1em;
}
p:last-child{
  margin-bottom:0;
}
.text-center{
  text-align: center;
}


/*
**************************************************
––––––––––––––––––––––––––––––––––––––––––––––––––
Hero
––––––––––––––––––––––––––––––––––––––––––––––––––
**************************************************
*/
 .hero-img{
  width: 100%;
  &__img{
    max-width: 100%;
    @include media (767px){
      display: none;
    }
  }
  &__img-movil{
    max-width: 100%;
    @include mediadelante(768){
      display: none;
    }
  }
}
/*
.hero{
  @include flex(flex, row, nowrap, space-between, end);
  padding: 1rem;
  background-image: url("../img/fondo-hero.webp");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  &__celebremos-left{
    @include media (767px){
      display: none;
    }
  }
  &__celebremos-center{
    display: none;
    min-width: 80%;
    @include media (767px){
      display: inline-flex;
    }
  }
  @include media (767px){

    @include flex(flex, row, wrap, center, center);
     background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.05)), url("../img/fondo-hero.webp");
  }
  &__article{
    max-width: 33%;
    @include media (767px){
      min-width: 100%;
      text-align: center;
    }
    img{
      max-width:100% ;
      @include media (767px){
        max-width: 50%;
      }
    }
    p{
      @include parrafo($tipo__textos,clamp(1em,1vw,1.2rem), 900, $color__blanco);
      line-height: clamp(1.3em, 1.5vw, 1.8rem);

      @include media (767px){
        font-size: 0.8rem;
      }
    }
  }

  &__article:last-child{
    max-width: 15%;
    @include media (767px){
      margin-top: 2rem;
      img{
        max-width: 30%;
      }
    }
  }



} */

/*
**************************************************
––––––––––––––––––––––––––––––––––––––––––––––––––
Tus compras
––––––––––––––––––––––––––––––––––––––––––––––––––
**************************************************
*/
.tuscompras{
  max-width: 100%;
  margin: 0.5rem auto;
  @include media (767px){
    margin: 0.5rem auto 1rem;
  }
  @include parrafo($tipo__textos,clamp(1.1em,1.5vw,1.7em), 400, $color__negro);
  line-height: clamp(1.2em, 1.5vw, 1.6rem);
  text-align: center;
  width: 100%;
}

/*
**************************************************
––––––––––––––––––––––––––––––––––––––––––––––––––
Como ganar
––––––––––––––––––––––––––––––––––––––––––––––––––
**************************************************
*/
.comoganar{
  @include gradiente (linear-gradient, $color__aniversario__rosa, $color__aniversario__naranja);
  padding-top: 0.5rem;
  &__h2{
    @include titulo(clamp(1.5em, 2vw, 2.2rem));
    color: $color__blanco;
    margin: 0;
  }
  @include media(991px){
    max-width: 90%;
    margin: 0 auto;
    &__slide::before{
      content: url(../img/arrows-left-right-solid.svg);
      position: absolute;
      top:0;
      right: 0.5rem;
      width: 2rem;
    }
  }
  &__slide{

    padding: 2rem 0;
    @include flex(flex, row, wrap, center, space-around);
    @include media(991px){
      @include flex(flex, row, nowrap, left, center);
      overflow-y: scroll;
      position: relative;
      padding: 0.5rem 0;
    }
    &__article{
      width: 20%;

      text-align: center;
       @include parrafo($tipo__titulos,clamp(1.1rem,1.2vw,1.3rem), 400, $color__blanco);
       line-height: clamp(1.3rem,1.5vw,1.7rem);
       @include media(991px){
         min-width: 100%;
       }
    }
    &__article:last-child{
      margin-right: 0;
    }
     &__icon{
      background-color: $color__blanco;
      height:9em;
      width: 9em;
      margin: 0 auto 1.5rem;
      @include media (991px){
        height: 7rem;
        width: 7rem;
        margin: 0 auto 0.5rem;
      }
      border-radius: 20rem;
      color: $color__negro;
      @include flex(flex, row, wrap, center, center);
      .mc{
        height: 7rem;
        @include media (991px){
          height: 5.5rem;
        }
      }
      img{
          height: 5rem;

          @include media (991px){
            height: 3rem;
           }

      }
    }
    &__foot{
      margin-top: 2rem;
      @include parrafo($tipo__titulos,clamp(1.5rem,1vw,2rem), 400, $color__blanco);
      text-align: center;
      @include media (991px){
        min-width: 100%;
        flex-grow: 3;
      }
    }
  }
  &__foot{
    @include parrafo($tipo__titulos,clamp(1rem,1.5vw,1.7rem), 400, $color__blanco);
    text-align: center;
    @include media(991px){
      margin-top: 0;
      padding-bottom: 0.5rem;
    }

  }
}

/*
**************************************************
––––––––––––––––––––––––––––––––––––––––––––––––––
donde
––––––––––––––––––––––––––––––––––––––––––––––––––
**************************************************
*/
.donde{
  max-width: 80%;
  margin: 1.5rem auto;
  @include media(991px){
    min-width: 100%;
     margin: 0.9rem auto;
  }
  @include parrafo($tipo__textos,clamp(1.1em,1.5vw,1.7em), 400, $color__negro);
  line-height: clamp(1.2em, 1.5vw, 1.6rem);
  text-align: center;
  width: 100%;
  p:first-child{
    margin-bottom: 1rem;
  }
}

/*
**************************************************
––––––––––––––––––––––––––––––––––––––––––––––––––
Si ganas
––––––––––––––––––––––––––––––––––––––––––––––––––
**************************************************
*/
.siganas{
  width: 100%;
 /* margin: 2rem auto;*/
  background-color: $color__gris__claro;
  padding: 1rem 0;
  &__wrapper{
    max-width: 90%;
    margin: 0 auto;
  }

  &__h2{
    @include parrafo($tipo__textos,clamp(1.1em,1.5vw,1.7em), 900, $color__negro);
  line-height: clamp(1.2em, 1.5vw, 1.6rem);
  text-align: center;
    margin-bottom: 1rem;
    @include media(767px){
      margin-bottom: 0.5rem;
    }
  }
  p{
    @include parrafo($tipo__titulos,clamp(1.5rem,1vw,2rem), 900, $color__negro);
  }
  button{
       @include gradiente (linear-gradient, $color__aniversario__rosa, $color__aniversario__naranja);
       margin: 1rem auto 0;
       color: $color__blanco;
       text-transform: uppercase;
       padding: 0.5rem 0.5rem;

       font-family: $tipo__titulos;
       border-radius: 5rem;

    }
  &__lead{
    text-align: center;
    @include titulo(clamp(1.5rem, 1.7vw, 1.7rem));
    color: $color__negro;
  }
  ul{
    li{
      list-style: disc;
      @include parrafo($tipo__titulos,clamp(1.1rem,1.2vw,1.3rem), 400, $color__negro);
    }
    li::marker{
      color:$color__naranja;
      font-size: 1.5em;
    }
  }
  &__small{
    p{
      font-size: 0.9em;
      font-weight:300 ;
      margin: 0;
    }
  }
}
/*
**************************************************
––––––––––––––––––––––––––––––––––––––––––––––––––
FAQ
––––––––––––––––––––––––––––––––––––––––––––––––––
**************************************************
*/

.faq{

  article{
    margin-bottom: 1rem;
  }
  h2{
    a{
        @include parrafo($tipo__titulos,clamp(1.2rem,1.4vw,1.4rem), 900, $color__negro);
        padding-left: 2rem;
      }
  }
  button{
       @include gradiente (linear-gradient, $color__naranja, $color__naranja__alt);
       margin: 0 auto;
       color: $color__blanco;
       text-transform: uppercase;
       padding: 0.5rem 1rem;

       font-family: $tipo__titulos;
       border-radius: 5rem;

    }
}
.ol{
  &__numeros{
    li{
      list-style: decimal;
    }
  }
  &__letras{
    li{
      list-style:lower-latin;
    }
  }
  &__bullet{
    li{
      list-style: disc;
    }
  }
}
.accordion-button{
  background-color:$color__gris__claro !important;
  text-decoration: none !important;
}
.accordion-item{
  margin-bottom: 1rem;
}

.modal{
  label{
    font-family: $tipo__textos;
  }
  .modal-body{
    button{
         @include gradiente (linear-gradient, $color__aniversario__rosa, $color__aniversario__naranja);
         margin: 1rem auto 0;
         color: $color__blanco;
         text-transform: uppercase;
         padding: 0.5rem 0.5rem;

         font-family: $tipo__titulos;
         border-radius: 5rem;

      }
  }

}
