/*
**************************************************
––––––––––––––––––––––––––––––––––––––––––––––––––
Imports
––––––––––––––––––––––––––––––––––––––––––––––––––
**************************************************
*/
//@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;0,800;1,400;1,800&family=Rubik:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,900;1,300;1,400;1,900&display=swap');
@import"reset.scss";
@import"colors.scss";
@import"mixins.scss";
/*
**************************************************
––––––––––––––––––––––––––––––––––––––––––––––––––
Fuentes
––––––––––––––––––––––––––––––––––––––––––––––––––
**************************************************
*/
$espacio__secciones:2rem;
$tipo__titulos: 'Lato', sans-serif;
$tipo__textos: 'Lato', sans-serif;
body{
  font-family: $tipo__textos;
  font-size: clamp(1.5rem, 1vw, 1em);
}
em{
  font-style: italic;
}
a{
  text-decoration: underline;
  transition: all 0.5s ease;
}
strong{
  font-weight: 700;
}
p{
  line-height: clamp(1.6em, 1.7vw, 1.9rem);
  font-family: $tipo__textos;
  font-size: clamp(1.05em, 1vw, 1em);
  margin-bottom: 1em;
}
p:last-child{
  margin-bottom:0;
}
.text-center{
  text-align: center;
}


/*
**************************************************
––––––––––––––––––––––––––––––––––––––––––––––––––
Hero
––––––––––––––––––––––––––––––––––––––––––––––––––
**************************************************
*/

.hero{
  @include flex(flex, row, nowrap, space-between, end);
  padding: 1rem;
  background-image: url("../img/fondo-hero.webp");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  &__celebremos-left{
    @include media (767px){
      display: none;
    }
  }
  &__celebremos-center{
    display: none;
    min-width: 80%;
    @include media (767px){
      display: inline-flex;
    }
  }
  @include media (767px){

    @include flex(flex, row, wrap, center, center);
     background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.05)), url("../img/fondo-hero.webp");
  }
  &__article{
    max-width: 30%;
    @include media (767px){
      min-width: 100%;
      text-align: center;
    }
    img{
      max-width:100% ;
      @include media (767px){
        max-width: 50%;
      }
    }
    p{
      color: $color__blanco;
      @include media (767px){
        font-size: 0.8rem;
      }
    }
  }

  &__article:last-child{
    max-width: 15%;
    @include media (767px){
      margin-top: 2rem;
      img{
        max-width: 30%;
      }
    }
  }



}

/*
**************************************************
––––––––––––––––––––––––––––––––––––––––––––––––––
Tus compras
––––––––––––––––––––––––––––––––––––––––––––––––––
**************************************************
*/
.tuscompras{
  max-width: 100%;
  margin: 2rem auto;
  @include parrafo($tipo__textos,clamp(1.2em,2vw,2em), 400, $color__negro);
  text-align: center;
  width: 100%;
  p:first-child{
    margin-bottom: 1rem;
  }
}

/*
**************************************************
––––––––––––––––––––––––––––––––––––––––––––––––––
Como ganar
––––––––––––––––––––––––––––––––––––––––––––––––––
**************************************************
*/
.comoganar{
  &__h2{
    @include titulo(clamp(1.7em, 2.5vw, 3rem));
    color: $color__negro;
    margin-bottom: 2rem;
  }
  @include media(767px){
    &__slide::before{
      content: url(../img/arrows-left-right-solid.svg);
      position: absolute;
      top:0;
      right: 0.5rem;
      width: 2rem;
    }
  }
  &__slide{

    padding: 2rem 0;
    @include flex(flex, row, wrap, center, space-evenly);
    @include gradiente (linear-gradient, $color__aniversario__rosa, $color__aniversario__naranja);
    @include media(767px){
      @include flex(flex, row, nowrap, left, center);
      overflow-y: scroll;
      position: relative;
    }
    &__article{
      width: 20%;

      text-align: center;
       @include parrafo($tipo__titulos,clamp(1.5rem,1vw,2rem), 400, $color__blanco);
       @include media(767px){
         min-width: 100%;
       }
    }
    &__article:last-child{
      margin-right: 0;
    }
     &__icon{
      background-color: $color__blanco;
      height: 10rem;
      width: 10rem;
      margin: 0 auto;
      border-radius: 20rem;
      color: $color__negro;
      @include flex(flex, row, wrap, center, center);
      svg{
        height: 3em;
      }
    }
    &__foot{
      margin-top: 2rem;
      @include parrafo($tipo__titulos,clamp(1.5rem,1vw,2rem), 400, $color__blanco);
      text-align: center;
      @include media(767px){
         display: none;
       }
    }
  }
  &__foot{
    margin-top: 2rem;
    @include parrafo($tipo__titulos,clamp(1.5rem,1vw,2rem), 400, $color__aniversario__rosa);
    text-align: center;
    @include mediadelante(767px){
      display: none;
    }
  }
}

/*
**************************************************
––––––––––––––––––––––––––––––––––––––––––––––––––
donde
––––––––––––––––––––––––––––––––––––––––––––––––––
**************************************************
*/
.donde{
  max-width: 80%;
  margin: 3rem auto;
  @include parrafo($tipo__textos,clamp(1.3em,1.4vw,1.6rem), 400, $color__negro);
  text-align: center;
  width: 100%;
  p:first-child{
    margin-bottom: 1rem;
  }
}

/*
**************************************************
––––––––––––––––––––––––––––––––––––––––––––––––––
Si ganas
––––––––––––––––––––––––––––––––––––––––––––––––––
**************************************************
*/
.siganas{
  width: 100%;
  margin: 2rem auto;
  background-color: $color__gris__claro;
  padding: 2rem 0;
  &__wrapper{
    max-width: 90%;
    margin: 0 auto;
  }

  &__h2{
    @include titulo(clamp(2rem, 2vw, 2.5rem));
    color: $color__negro;
    margin-bottom: 2rem;
  }
  p{
    @include parrafo($tipo__titulos,clamp(1.5rem,1vw,2rem), 900, $color__negro);
  }
  &__lead{
    text-align: center;
    @include titulo(clamp(1.5rem, 1.7vw, 1.7rem));
    color: $color__negro;
  }
  ul{
    li{
      list-style: disc;
      @include parrafo($tipo__titulos,clamp(1.1rem,1.2vw,1.3rem), 400, $color__negro);
    }
    li::marker{
      color:$color__naranja;
      font-size: 1.5em;
    }
  }
  &__small{
    p{
      font-size: 0.9em;
      font-weight:300 ;
      margin: 0;
    }
  }
}
/*
**************************************************
––––––––––––––––––––––––––––––––––––––––––––––––––
FAQ
––––––––––––––––––––––––––––––––––––––––––––––––––
**************************************************
*/

.faq{

  article{
    margin-bottom: 1rem;
  }
  h2{
    a{
        @include parrafo($tipo__titulos,clamp(1.2rem,1.5vw,1.6rem), 900, $color__negro);
        padding-left: 2rem;
      }
  }
  button{
       @include gradiente (linear-gradient, $color__naranja, $color__naranja__alt);
       margin: 0 auto;
       color: $color__blanco;
       text-transform: uppercase;
       padding: 0.5rem 1rem;

       font-family: $tipo__titulos;
       border-radius: 5rem;

    }
}

.accordion-button{
  background-color:$color__gris__claro !important;
  text-decoration: none !important;
}
.accordion-item{
  margin-bottom: 1rem;
}
